<h1>Generator liczb losowych</h1>

<input type="range" min="4" max="10" ng-model="length" ng-change="update(length)"/>{{length}}<br/>

<div class="row">
    <div class="col-md-4">
        <button class="btn btn-danger btn-lg" ng-click="generateRandom()" hotkey="{'g': generateRandom}">(G)eneruj</button>
    </div>
    <div class="col-md-4 text-center">
        <h1 ng-show="showNumber">{{number}}</h1>
    </div>
    <div class="col-md-4 text-right">
        <button class="brn btn-info btn-lg" ng-click="showAns()" hotkey="{'s': showAns}">Pokaż odpowiedź (s)</button>
    </div>
</div>

